.sidebar{
    position: fixed;
    top: 60px;
    left: 0;
    bottom: 0;
    width: 80px;
    background-color: white;
}

.sidebar-link{
    height: 80px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.sidebar-link:hover{
    background-color: rgb(230, 226, 226);
}

.sidebar-link img{
    height: 25px;
}

.sidebar-link div{
    font-size: 11px;
    font-family: Roboto,Arial, Helvetica, sans-serif;
    font-weight: 500;
    
}

